<section class="page-header">
  <h1 class="project-name"><i><img alt="httk" src="img/httk-logo-curves.svg"></img></i></h1>
  <h2 class="project-tagline">
    The High-Throughput Toolkit (<i>httk</i>) is a toolkit for preparing and running calculations,<br>
    analyzing the results, and storing results in global and/or personalized databases.</h2>
  <a class="btn" href="https://github.com/httk/httk"><i class="fa fa-github"></i> GitHub</a>
  <a class="btn" href="https://twitter.com/_httk"><i class="fa fa-twitter"></i> Twitter</a>
  <a class="btn" href="https://docs.httk.org/"><i class="fa fa-book"></i> Docs</a>
  <a class="btn" href="https://github.com/httk/httk/discussions"><i class="fa fa-comments"></i> Discussions</a>
  <a class="btn" href="https://docs.httk.org/en/latest/developers_guide.html"><i class="fa fa-plus"></i> Contribute</a>
</section>
<div class="container">
  <main class="main-content">
    {content}
  </main>
</div>
